name: Build openSUSE

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch: {}

# Cancel the workflow if a new one is requested for the same PR/branch, but still test all commits on the master branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master'}}

jobs:
  CI:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Note: when changing the versions below, update INSTALL.md as well.
        llvm: [18, 19, 20, 21]
        build-type: [DEBUG]
        include:
          - llvm: 21
            build-type: ASAN
          - llvm: 21
            build-type: UBSAN
          - llvm: 21
            build-type: RelWithDebInfo
            extra-flags: -flto=auto
          - llvm: 21
            build-type: RelWithDebInfo
            env: CC=clang CXX=clang++
      fail-fast: false

    container:
      image: opensuse/tumbleweed

    steps:
    - run: zypper -n install
        binutils clang${{ matrix.llvm }}-devel cmake flex gcc-c++ llvm${{ matrix.llvm }}-devel
        python3-Pebble python3-pytest python3-pytest-mock python3-pytest-subprocess
        unifdef python3-psutil curl git python3-chardet findutils sudo wget python3-pip python3-jsonschema
        python3-msgspec python3-zstandard awk
    - run: zypper -n install sqlite-devel python3
    - run: pip install --break-system-packages pytest-cov
    - uses: rui314/setup-mold@v1
    - run: ld --version
    - run: nproc
    - uses: actions/checkout@v4
    - name: build
      run: |
            mkdir objdir
            cd objdir
            ${{ matrix.env }} cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DCMAKE_CXX_FLAGS=${{ matrix.extra-flags }}
            make -j`nproc` VERBOSE=1
    - name: test
      run: pytest
      working-directory: objdir

  CI-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
    - run: brew install llvm
    - run: pip install chardet jsonschema msgspec pebble psutil pytest pytest-mock pytest-subprocess zstandard
    - run: mkdir objdir
    - run: cmake .. -DCMAKE_PREFIX_PATH="/opt/homebrew/opt/llvm" -DCMAKE_C_COMPILER="/opt/homebrew/opt/llvm/bin/clang"
        -DCMAKE_CXX_COMPILER="/opt/homebrew/opt/llvm/bin/clang++"
        -DCMAKE_EXE_LINKER_FLAGS="-L/opt/homebrew/opt/llvm/lib/c++ -L/opt/homebrew/opt/llvm/lib/unwind -lunwind -Wl,-rpath,/opt/homebrew/opt/llvm/lib/c++"
      working-directory: objdir
    - run: make -j`sysctl -n hw.physicalcpu` VERBOSE=1
      working-directory: objdir
    - run: pytest -x -s
      working-directory: objdir

  CI-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: '3.12'
        activate-environment: cvise-env
    - name: Create DIA SDK junction
      shell: cmd
      run: |
        if exist "C:\DIA SDK" rmdir "C:\DIA SDK"
        for /d %%i in ("C:\Program Files\Microsoft Visual Studio\2022\Enterprise", "C:\Program Files\Microsoft Visual Studio\2022\Community", "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise", "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community") do (
          if exist "%%~i\DIA SDK" (
            mklink /J "C:\DIA SDK" "%%~i\DIA SDK"
            break
          )
        )
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install -y -c conda-forge llvmdev clangdev winflexbison \
          chardet jsonschema msgspec pebble psutil pytest pytest-mock pytest-subprocess zstandard
    - name: Configure
      shell: bash -l {0}
      run: |
        CONDA_PREFIX_UNIX=$(cygpath -m "$CONDA_PREFIX")
        cmake -S . -B objdir \
          -DCMAKE_PREFIX_PATH="$CONDA_PREFIX_UNIX/Library" \
          -DLLVM_DIR="$CONDA_PREFIX_UNIX/Library/lib/cmake/llvm" \
          -DClang_DIR="$CONDA_PREFIX_UNIX/Library/lib/cmake/clang" \
          -DFLEX_EXECUTABLE="$CONDA_PREFIX_UNIX/Library/bin/win_flex.exe" \
          -DPython3_EXECUTABLE="$CONDA_PREFIX_UNIX/python.exe"
    - name: Build
      shell: bash -l {0}
      run: cmake --build objdir --config Release --parallel $NUMBER_OF_PROCESSORS
    - name: Test
      shell: bash -l {0}
      run: |
        cd objdir
        pytest

  CI-python:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest

    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
          - "3.14t"
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - run: apt-get update
    - run: apt-get -qq install -y gcc g++ wget lsb-release wget software-properties-common gnupg git cmake flex vim unifdef sudo
    - run: chown -R $(whoami) /github/home  # workaround for "directory ... pip ... is not owned or is not writable by the current user"
    - run: rm -rf /__t/Python  # workaround for "error when attempting to execute the process ... pip"
    - uses: actions/setup-python@v6
      with:
        python-version: "${{ matrix.python }}"
        cache: 'pip'
    - run: pip install chardet jsonschema msgspec pebble psutil pytest pytest-mock pytest-subprocess zstandard ${{ join(matrix.extra-deps, ' ') }}
    - run: wget https://apt.llvm.org/llvm.sh
    - run: chmod +x llvm.sh
    - run: ./llvm.sh all
    - run: mkdir objdir
    - run: cmake ..
      working-directory: objdir
    - run: make -j`nproc` VERBOSE=1
      working-directory: objdir
    - run: python -m pytest
      working-directory: objdir

  ruff:
    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed

    steps:
    - run: zypper -n install python3-pip
    - uses: actions/checkout@v4
    - run: pip install --break-system-packages ruff
    - run: ruff check
    - run: ruff format --diff

  pytype:
    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed

    steps:
    - run: zypper -n install binutils clang-devel cmake flex gcc-c++ llvm-devel python312
    - uses: actions/checkout@v4
    - name: prepare venv
      # Pytype currently only supports Python <=3.12
      run: |
            python3.12 -m venv ~/venv
            source ~/venv/bin/activate
            pip install chardet jsonschema msgspec pebble psutil pytest pytest-mock pytest-subprocess pytype zstandard
    - name: build
      run: |
            source ~/venv/bin/activate
            mkdir objdir
            cd objdir
            ${{ matrix.env }} cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DCMAKE_CXX_FLAGS=${{ matrix.extra-flags }}
            make -j`nproc` VERBOSE=1
    - name: pytype
      run: |
            source ~/venv/bin/activate
            pytype --keep-going --jobs=auto objdir

  pyright:
    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed

    steps:
    - run: zypper -n install
        binutils clang-devel cmake flex gcc-c++ llvm-devel python3 python3-pyright
        python3-Pebble python3-pytest python3-pytest-mock python3-pytest-subprocess
        unifdef python3-psutil curl git python3-chardet findutils sudo wget python3-jsonschema
        python3-msgspec python3-zstandard
    - uses: actions/checkout@v4
    - run: mkdir objdir
    - run: cmake ..
      working-directory: objdir
    - run: make -j`nproc` VERBOSE=1
      working-directory: objdir
    - run: pyright
      working-directory: objdir
